// Core variables and mixins
@import "variables";
@import "mixins";
// // Reset and dependencies
@import "normalize";
@import "print";
// Core CSS
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
// // Components
@import "animation";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "pager";
@import "labels";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "responsive-embed";
@import "close";
// Components w/ JavaScript
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
// Utility classes
@import "utilities";
@import "utilities-spacing";
@import "utilities-responsive";

body {
  padding: 50px 0 0 0;
  background-color: $gray-dark;
}

.main-content {
  background-color: $body-bg;
  min-height: 40rem;
  padding: 1.5rem 0;
}

.footer {
  padding: 1rem 0;
  color: $gray-lighter;
  background-color: $gray-dark;

  .nav-link {
    color: $navbar-dark-color;

    @include hover-focus {
      color: $navbar-dark-hover-color;
    }
  }

  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active {
    @include plain-hover-focus {
      color: $navbar-dark-active-color;
    }
  }
}

.sign-form {
  min-width: 12rem;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  .captcha {
    height: 2.6rem;
  }
}

.goods-content {
  padding: 0;
}
